.stAppHeader {
  display: none;
}

.stVerticalBlock {
}

.stHeading {
  display: flex;
  justify-content: center;
}

.stExpander {
  background-color: green;
}

textarea[data-testid="stChatInputTextArea"] {
  color: black;
  caret-color: black;
}

section[data-testid="stFileUploaderDropzone"] {
  background-color: grey;
}

button[data-testid="stBaseButton-secondary"] {
  color: white;
}
